.custom-brand-si {
  font-size: 1rem;  
  color: white;
  text-decoration: none;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 3;
}

.custom-brand-reg {
  font-size: 1rem;  
  color: grey;
  text-decoration: none;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 3;
}

.fa-shopping-cart {
  font-size: 1rem;  
  text-decoration: none;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 3;
  position: relative;
  top: 10px
}

#cart-icon {
  position: relative;
}

.prod-quantity {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  border-radius: 50%;
}

.container-fluid {
    text-align: center;
}

.title {
    font-family: 'Calibri', sans-serif;
    text-align: center;
}

.dancing-script-par {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.link-prod {
  text-decoration: none;
  color: black;
}

.card-img-top {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.container {
  font-family: 'Calibri', sans-serif;
}

.box-img {
  background-image: url('box-image.jpg');
}

.box-title {
  text-align: center;
  color: white;
}

.prod-name {
  color: grey;
  text-align: center;
}

.prod-description {
  color: white;
  text-align: center;
  line-height: 1;
}

.prod-card {
  width: auto;
}

.product-title {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

/* productHer & Him specifics */

.list-group-item {
  text-align: right;
}

.card-body {
  text-align: center;
}

button.btn.custom-btn-buy {
  border-radius: 0 50px 0 50px;
}

button.btn.custom-btn-remove {
  border-radius: 0 50px 0 50px;
}

/* clearance */

.clearance-card {
  margin-bottom: 25px;
}

button.btn.custom-btn {
  border-radius: 0 50px 0 50px;
}

/* sign-in form */

.box-login {
  margin: 50px 0 0 0;
  padding: 40px 25px 61px 25px; 
} 

.login-img {
  margin: 50px 0 200px 0;
}

.custom-btn {
  border-radius: 0 50px 0 50px;
}

/* reg form */

.box-reg {
  margin: 50px 0 0 0;
  padding: 40px 25px 200px 25px; 
} 

.reg-img {
  margin: 50px 0 5px 0;
}

.form-switch .form-check-input:checked {
  background-color: #000000; 
  border-color: #000000;
}
  
.btn-reg {
  text-align: center;
}

.custom-btn {
  border-radius: 0 50px 0 50px;
}

/* cart page */
  
.cart-title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

button.btn.checkout-btn {
  border-radius: 0 50px 0 50px;
}